.michroma-regular {
  font-family: 'Michroma', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.russo-one-regular {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.orbitron {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-stencil-one-regular {
  font-family: 'Saira Stencil One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.major-mono-display-regular {
  font-family: 'Major Mono Display', monospace;
  font-weight: 400;
  font-style: normal;
}

.montserrat-header {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.anton-sc-regular {
  font-family: 'Anton SC', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.work-sans-regular {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-header {
  font-family: 'Cormorant Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-italic {
  font-family: 'Cormorant Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.bricolage-grotesque-regular {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.bricolage-grotesque-medium {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

html {
  overflow-y: scroll; /* Ensures content is still scrollable vertically */
}

html::-webkit-scrollbar {
  display: none; /* For Webkit browsers */
}

html {
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For Firefox */
}
